<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MailSubject" value="Connection Check Tool"/>
    <add key="MailToAddresses" value="le.minh-hanh@sgvf.com.vn"/>
    <add key="MailCCAddresses" value=""/>
    <add key="Environment" value="PRODUCTION"/>

    <!-- [SQL DB information]-->
    <add key="SqlDatasource" value="192.168.50.8"/>
    <add key="SqlUsername" value="TEST"/>
    <add key="SqlUserid" value="sa"/>
    <add key="SqlPassword" value="HoangDuocSu123123"/>
    
    <add key="PathToGetFiles" value="d:\check"/>
    <add key="FileType" value="*.PNG|*.jpg"/> 
  </appSettings>

</configuration>